**/.DS_Store
node_modules
/lib
/__buildtest__
coverage
.vscode
.idea
*.log
playground.ts
deno/lib/playground.ts
.eslintcache
workspace.code-workspace
.netlify
bun.lockb
node_modules/
dist/
coverage/
.env
.env.*
!.env.example
*.pem
*.key
*.crt
*.p12
.DS_Store
